@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add Employee Details</h1>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Employee ID</label>
        <input type="number" class="form-control" id="inputID" placeholder="Enter Emp ID">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Employee Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter Emp Name">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Employee Code</label>
        <input type="text" class="form-control" id="inputCode" placeholder="Enter Emp Code">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Salary</label>
        <input type="number" class="form-control" id="inputSalary" placeholder="Enter Emp Salary">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
            <option selected>Designation</option>
            <option>Designation 1</option>
            <option>Designation 2</option>
            <option>Designation 3</option>
            <option>Designation 4</option>
        </select>
    </div>
    <div class="col-md-8"></div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
</form>